<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Material Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="../assets/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/controller.js"></script>
    <script src="../assets/js/serviceBackEnd.js"></script>
</head>

<body ng-app="app">
<div class="wrapper" ng-controller="controller">
    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
        <div class="logo">
            <a href="https://bitbucket.org/Giorgio_marini/sdcc_project" class="simple-text">
                Lamp Monitoring System
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="./index.html">
                        <i class="material-icons">content_paste</i>
                        <p>Ranking List</p>
                    </a>
                </li>
                <li class="active">
                    <a href="Alert.html">
                        <i class="material-icons text-gray">content_paste</i>
                        <p>Alert List</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <a class="navbar-brand" href="#">
                        <p>History
                            <select ng-model="selectedDay" ng-options="day for day in days" required>
                            </select>
                             Days
                        </p>
                    </a>
                    <a class="navbar-brand" href="#">
                        <button type="button" ng-click="getLastestAlert(selectedDay)">Lastest Alert</button>
                    </a>
                    <a class="navbar-brand" href="#">
                        <button type="button" ng-click="deleteAlert()">
                            <i class="material-icons">delete_sweep</i>
                        </button>
                    </a>


                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Lastest Alerts </h4>
                                <p class="category">Show the daily alert for the lamp, describing the address and your model</p>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table" >
                                    <tr>
                                        <th><a href="" ng-click="orderByField='date'; reverseSort = !reverseSort">Date</a>
                                        </th>
                                        <th><a href="" ng-click="orderByField='LampId'; reverseSort = !reverseSort">LampId</a>
                                        </th>
                                        <th><a href="" ng-click="orderByField='Address'; reverseSort = !reverseSort">Address</a>
                                        </th>
                                        <th><a href="" >State</a></th>
                                        <th><a href="" ng-click="orderByField='Model'; reverseSort = !reverseSort">Model</a>
                                        </th>
                                    </tr>
                                    <tr ng-repeat="alert in lastestAlert| filter: searchKeyword | orderBy:orderByField:reverseSort">
                                        <td>{{alert.Date}}</td>
                                        <td>{{alert.Id}}</td>
                                        <td>{{alert.Address}}</td>
                                        <td>{{alert.State}}</td>
                                        <td>{{alert.Model}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="https://bitbucket.org/Giorgio_marini/sdcc_project">To maintanance the lamp System</a></div>
        </footer>
    </div>
</div>
</body>
<!--   Core JS Files   -->
<script src="../assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="../assets/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="../assets/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="../assets/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<!-- Material Dashboard javascript methods -->
<script src="../assets/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script>

</html>
